.element-div
{
    border-style: solid;
    border-width:1px;
    border-radius: 25px;
    height: 140px;
    padding-left:5px;
	background-color: #77777a
}
.selected-div
{
    background-color: rgba(161, 229, 242, 1);
}
.modify-element-box-wrapper
{
    height:140px;
}